<div class="container" style="text-align: center">
  <h2 *ngIf="role">White turn</h2>
  <h2 *ngIf="!role">Black turn</h2>
  <table>
    <tr *ngFor="let row of grid; let r = index">
      <td
        [ngClass]="boolean[r][c] ? 'tdpath' : ''"
        *ngFor="let col of row; let c = index"
        [ngClass]="
          copycontent == col && r == prevX && c == prevY ? 'selected' : ''
        "
      >
        <!-- {{ !user.includes(col) }} {{ col }} -->
        <!-- [disabled]="boolean[r][c] == false && pause == true && col == ' '" -->
        <button
          [ngClass]="boolean[r][c] ? 'path' : ''"
          (click)="selected(col, r, c, boolean[r][c])"
          [ngClass]="boolean[r][c] == true && col != ' ' ? 'enemy' : ''"
          [disabled]="!boolean[r][c] && col !== ' ' && !user.includes(col)"
        >
          <i
            [ngClass]="{ white: col == 'b', black: col == 'B' }"
            *ngIf="col == 'b' || col == 'B'"
            class="fas fa-chess-bishop"
          ></i>
          <i
            [ngClass]="{ white: col == 'p', black: col == 'P' }"
            *ngIf="col == 'p' || col == 'P'"
            class="fas fa-chess-pawn"
          ></i>
          <i
            [ngClass]="{ white: col == 'r', black: col == 'R' }"
            *ngIf="col == 'r' || col == 'R'"
            class="fas fa-chess-rook"
          ></i>
          <i
            [ngClass]="{ white: col == 'n', black: col == 'N' }"
            *ngIf="col == 'n' || col == 'N'"
            class="fas fa-chess-knight"
          ></i>
          <i
            [ngClass]="{ white: col == 'k', black: col == 'K' }"
            *ngIf="col == 'k' || col == 'K'"
            class="fas fa-chess-king"
          ></i>
          <i
            [ngClass]="{ white: col == 'q', black: col == 'Q' }"
            *ngIf="col == 'q' || col == 'Q'"
            class="fas fa-chess-queen"
          ></i>
        </button>
      </td>
    </tr>
  </table>
</div>
