<div class="container" style="text-align: center">
  <h2 *ngIf="role">White turn</h2>
  <h2 *ngIf="!role">Black turn</h2>
  <table>
    <tr *ngFor="let row of grid; let r = index">
      <td
        [ngClass]="boolean[r][c] ? 'tdpath' : ''"
        *ngFor="let col of row; let c = index"
        [ngClass]="
          copycontent == col && r == prevX && c == prevY ? 'selected' : ''
        "
      >
        <!-- {{ !user.includes(col) }} {{ col }} -->
        <!-- {{ boolean[r][c] }} -->
        <!-- [disabled]="boolean[r][c] == false && pause == true && col == ' '" -->
        <button
          [ngClass]="boolean[r][c] ? 'path' : ''"
          (click)="selected(col, r, c, boolean[r][c])"
          [ngClass]="boolean[r][c] == true && col != ' ' ? 'enemy' : ''"
          [disabled]="!boolean[r][c] && col !== ' ' && !user.includes(col)"
        >
          <img
            *ngIf="blacks.includes(col)"
            src="../../../assets/images/{{ col | lowercase }}.png"
            width="30px"
            alt=""
          />
          <img
            *ngIf="whites.includes(col)"
            src="../../../assets/images/{{ col | lowercase }}{{
              col | lowercase
            }}.png"
            width="30px"
            alt=""
          />
        </button>
      </td>
    </tr>
  </table>
</div>
